{% set title = 'Log In' %}
{% extends 'page.html.twig' %}

{% block content %}
{{ parent() }}
{% if settings.user.ssp %}
{% if settings.user.ssp_title %}
<h2>{{ settings.user.ssp_title }}</h2>
{% endif %}
<a href="{{ settings.user.ssp.getLoginURL(return) }}" class="bgsu_common_button bgsu_common_button__arrow bgsu_common_button__primary">
    {{ settings.user.ssp_button|default('SSO Log In') }}
</a>

{% if settings.user.ssp_title_other %}
<h2>{{ settings.user.ssp_title_other }}</h2>
{% endif %}
{% endif %}

<form method="post" action="{{ url_for('login') }}">
    <p>
        <label for="username">Username:</label><br>
        <input type="text" name="username" id="username" autofocus>
    </p>
    <p>
        <label for="password">Password:</label><br>
        <input type="password" name="password" id="password">
    </p>
    <p>
{% if return %}
        <input type="hidden" name="return" value="{{ return }}">
{% endif %}
        <button type="submit" class="bgsu_common_button bgsu_common_button__arrow bgsu_common_button__secondary bgsu_common_button__small">Log In</button>
        <a href="{{ url_for('password') }}">Change Password</a>
    </p>
</form>
{% endblock %}
