{% set title = 'Change Password' %}
{% extends 'page.html.twig' %}

{% block content %}
{{ parent() }}

{{ settings.user.note_password|raw }}
<form method="post" action="{{ url_for('password') }}">
{% if token %}
    <div>
        <label for="password">New Password:</label><br>
        <input type="password" name="password" id="password" autofocus>
    </div>
    <div>
        <label for="confirm">Confirm Password:</label><br>
        <input type="password" name="confirm" id="confirm" autofocus>
    </div>
    <div>
        <input type="hidden" name="token" value="{{ token }}">
        <input type="submit" value="Update" class="button button-primary">
    </div>
{% else %}
    <div>
{% if auth.isLoggedIn %}
        Email Address: {{ auth.user.username }}
        <input type="hidden" name="username" value="{{ auth.user.username }}">
{% else %}
        <label for="username">Email Address:</label><br>
        <input type="username" name="username" id="username" autofocus>
{% endif %}
    </div>
    <div>
        <input type="submit" value="Request" class="button button-primary">
    </div>
{% endif %}
</form>
{% endblock %}
