{% set title = 'Change Password' %}
{% extends 'page.html.twig' %}

{% block content %}
{{ parent() }}

{{ settings.user.note_password|raw }}
<form method="post" action="{{ url_for('password') }}">
{% if token %}
    <p>
        <label for="password">New Password:</label><br>
        <input type="password" name="password" id="password" autofocus>
    </p>
    <p>
        <label for="confirm">Confirm Password:</label><br>
        <input type="password" name="confirm" id="confirm">
    </p>
    <p>
        <input type="hidden" name="token" value="{{ token }}">
        <button type="submit" class="bgsu_common_button bgsu_common_button__arrow bgsu_common_button__large bgsu_common_button__primary">Update</button>
    </p>
{% else %}
    <p>
{% if auth.isLoggedIn %}
        Email Address: {{ auth.user.username }}
        <input type="hidden" name="username" value="{{ auth.user.username }}">
{% else %}
        <label for="username">Email Address:</label><br>
        <input type="username" name="username" id="username" autofocus>
{% endif %}
    </p>
    <p>
        <button type="submit" class="bgsu_common_button bgsu_common_button__arrow bgsu_common_button__large bgsu_common_button__primary">Request</button>
    </p>
{% endif %}
</form>
{% endblock %}
